.brands {
    border-top: 1px solid #D9FFF5;
    background-color: #F8F8F8;
    min-height: 100vh;
    overflow: hidden;
}
.brands__header {
    padding: 16px;
    background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
}
.brands__title {
    text-transform: uppercase;
    color: #7E7E82;
}
.brands__menu {
    display: flex;
    margin: 16px;
}
.menu-brand__item {
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;

    max-width: 206px;
    padding: 10px 16px;
}
.menu-brand__link {
    display: flex;
    justify-content: space-between; 
    align-items: center; 

    background: url(icon\ button/go.svg) right no-repeat;
    min-height: 52px;
    width: 206px;
}

.brands__slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 6px;
    background-color: #DDDDDD;
}
.brands__slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
} 

.brands__button {
    display: none;
}
@media (min-width: 768px) {
    .brands__header {
        padding-left: 24px;
    }
    .brands__menu {
        flex-wrap: wrap;
  
        column-gap: 24px;
        row-gap: 16px;
        margin: 24px;
    }
    .menu-brand__item {
        max-width: 190px;
    }
    .menu-brand__link {
        width: 190px;
    }
    .brands__button {
        display: block;
        font-size: 16px;
        border: 0;
        padding: 0;
        background: url('icon\ button/expand.svg') #F8F8F8 no-repeat left;
        line-height: 24px;
        margin-left: 24px;
        text-align: right;
        width: 134px;
    }

    .brands__button--hide {
        background: url('icon\ button/expand2.svg') #F8F8F8 no-repeat left;
        width: 88px;
    }

    .hide {
        display: none;
    }
}

@media (min-width: 1120px) {
    .brands__header {
        padding-left: 32px;
    }
    .brands__menu {
        column-gap: 32px;
        margin: 24px 32px;
    }
    .brands__button {
        margin-left: 32px;
    }
    .menu-brand__item {
        max-width: 206px;
    }
    .menu-brand__link {
        width: 206px;
    }
}